/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&family=Montserrat:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: #4960d4;
  --title-color: #0c1645;
  --text-color: #606785;
  --border-color: #d9ddf2;
  --white-color: #ffffff;
  --body-color: #ebeeff;
  --container-color: #f0f2ff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Montagu Slab", serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.4s;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

input,
button {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

h2 {
  font-family: cursive;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(230, 48%, 85%);
  --text-color: hsl(230, 16%, 70%);
  --border-color: hsl(230, 12%, 18%);
  --body-color: hsl(230, 12%, 8%);
  --container-color: hsl(230, 12%, 12%);
}

/*========== 
    Color changes in some parts of 
    the website, in dark theme
  ==========*/
.dark-theme .search {
  background-color: hsla(230, 12%, 8%, 0.6);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1220px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  margin-bottom: 2rem;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s, background-color 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  align-items: center;
  column-gap: 0.5rem;
  color: var(--first-color);
  font-weight: var(--font-medium);
  display: flex;
  gap: 0.5rem;
  text-decoration: none !important;
}

.nav__logo-img {
  width: 50px;
  height: auto;
}

.nav__logo-text {
  font-family: cursive;
  font-size: 1.5rem;
  color: var(--title-color);
  font-weight: bold;
}

.nav__logo i {
  font-size: 1.25rem;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--container-color);
    box-shadow: 0 -8px 32px hsla(0, 0%, 0%, 0.1);
    padding: 1.25rem 4rem;
    transition: background-color 0.4s;
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: var(--text-color);
  transition: color 0.4s;
}

.nav__link span {
  display: none;
}

.nav__link i {
  font-size: 1.25rem;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.nav__actions i {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 0.4s;
}

.nav__actions i:hover {
  color: var(--first-color);
}

/* Add shadow header */
.shadow-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
}


/*=============== SEARCH ===============*/
.search{
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: hsla(230, 12%, 96%, .6);
  backdrop-filter: blur(16px); 
  padding: 8rem 1.5rem; 
  transition: top .4s;
}

.search__form{
  display: flex;
  align-items: center;
  column-gap: 5rem;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding-inline: 1rem;
}

.search__icon{
  font-size: 1.25rem;
  color: var(--title-color);

}

.search__input{
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__close{
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Show search */
.show-search{
  top:0;
}









/* ---------------- --  CARRINHO E FAVORITOS ---------------------*/


/* carrinho e favoritos*/
/* Cart Modal Styles */
.cart-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background:var(--body-color);
    box-shadow: -4px 0 10px rgba(255, 255, 255, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }
  
  .cart-modal.show {
    transform: translateX(0);
  }
  
  .cart-modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .cart-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--white-color);
  }
  
  .cart-modal-header h2 {
    margin: 0;
    font-size: 20px;
  }
  
  .cart-modal-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color:var(--text-color);
  }
  
  .cart-items-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--white-color);
  }
  
  .cart-item-details {
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .cart-item-details h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
  }
  
  .cart-item-quantity {
    display: flex;
    align-items: center;
  }
  
  .cart-item-quantity button {
    background: var(--text-color);
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .cart-item-quantity input {
    width: 40px;
    text-align: center;
    border: 1px solid var(--white-color);
    margin: 0 5px;
  }
  
  .cart-item-price {
    font-weight: bold;
  }
  
  .cart-summary {
    padding: 20px;
    border-top: 1px solid var(--white-color);
  }
  
  .cart-total-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .cart-finalize-button {
    width: 100%;
    padding: 15px;
    background-color:var(--first-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cart-finalize-button:hover {
    background-color: #333;
  }
  
  .cart-item-remove {
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
  }
  
  
  
  .favorites-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background:var(--body-color);
    box-shadow: -4px 0 10px rgba(0,0,0,0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }
  
  .favorites-modal.show {
    transform: translateX(0);
  }
  
  .favorites-modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .favorites-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .favorites-modal-header h2 {
    margin: 0;
    font-size: 20px;
  }
  
  .favorites-modal-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #888;
  }
  
  .favorites-items-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
  }
  
  .favorites-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  
  .favorites-item-details {
    flex-grow: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .favorites-item-details h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
  }
  
  .favorites-item-details p {
    margin: 0;
    color: #666;
    font-size: 14px;
  }
  
  .favorites-item-actions {
    display: flex;
    align-items: center;
  }
  
  .favorites-item-remove, .favorites-item-cart {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .favorites-item-cart {
    color: #4a4a4a;
  }
  
  .favorites-item-remove {
    color: #888;
  }
  
  .favorites-empty-message {
    text-align: center;
    color: #888;
    padding: 20px;
  }









/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
    .container{
      margin-inline: 1rem;
    }
    .nav__menu{
      padding-inline:3rem
    }
    .discount__img-1,
    .discount__img-2{
      width: 140px;
    }
    .new__card{
      flex-direction: column;
    }
    
  }
  
  /* For medium devices */
  @media screen and (min-width: 450px) {
    .featured__card{
      width: 290px;
    }
    .new__card{
      width: 390px;
    }
  }
  
  @media screen and (min-width: 576px) {
    .search__form{
      width: 500px;
      margin-inline: auto;
    }
  
    .search__close{
      width: max-content;
      top: 4rem;
      left: 0;
      right:0;
      margin-inline: auto;
  }
  
    .nav__menu{
      margin-inline: auto;
    }
  }
    
  @media screen and (min-width: 768px) {
    .home__container{
      grid-template-columns: 580px;
    }
  }
  
  /* For large devices */
  @media  screen and (min-width: 1150px) {
    .section{
      padding-block: 7rem 2rem;
    }
  
    .nav{
      height: calc(var(--header-height) + 2rem);
      column-gap: 4rem;
    }
    .nav__link i{
      display: none ;
    }
    .nav__link span{
      display: block;
    }
    .nav__menu{
      width: initial;
      margin-inline: auto 0 ;
    }
  
    .nav__list{
      column-gap: 2rem;
    }
    .nav__link{
      font-weight: var(--font-medium);
    }
    .dark-theme .nav__menu{
      box-shadow: none;
    }
  }
  